pre code {
    border: 1px solid black;
    display: block;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    text-align: center;
}

code {
    font-family: monospace, monospace;
}

svg {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

rect, circle, line, polyline, polygon, circle, path {
    stroke-width: 0.05;
    stroke: black;
    fill-opacity: 0;
}

.dashed {
    stroke-dasharray: 0.05;
}
