:root {
    --font-size: 1rem;
    --line-height: 1.6rem;
}

html {
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: monospace, monospace;
    max-width: 80ch;
}

a {
    color: #0ff;
}

h1, h2, h3, p, pre {
    margin: var(--line-height) 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    white-space: pre-wrap;
    word-wrap: break-word;
}

h2::after, h3::after {
    content: '\A' attr(after);
}

pre {
    padding-left: 4ch;
}
